.form {
    color: #1e3246;
}

.form__legend {
    text-align: center;
}

.form__fieldset {
    border-radius: 20px;
}

.form__fieldsContainer {
    display: grid;
    /* grid-template-columns: auto auto; */
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10px;
}

@media (max-width: 480px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.formInnerText {
    text-align: right;
}

@media (max-width: 480px) {
    .formInnerText {
        text-align: center;
    }
}

.form__textSub {
    vertical-align: sub;
    font-size: 0.7em;
    margin-right: 0.15em;
}

.form__input {
    min-width: 200px;
    border: solid 1px #1e3246;
    border-radius: 5px;
    padding: 5px;
}

@media (max-width: 480px) {
    .form__input {
        width: 100%;
    }
}

.form__input:invalid {
    background-color: beige;
}

.form__input:disabled {
    background-color: #ddd;
}

.form__select {
    padding: 4px;
    border-radius: 5px;
}

.form__buttonsContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.form__button {
    display: flex;
    flex-basis: 300px;
    justify-content: center;
    color: #fff;
    background-color: #1e3246;
    border: solid #1e3246;
    padding: 5px;
    border-radius: 5px;
}

.form__button:hover {
    background-color: #4b5a69;
}

.form__button:active {
    background-color: #788291;
}

.form__button:focus {
    border: solid #dc3223;
}