.form {
    color: #1e3246;
}

.form__legend {
    text-align: center;
}

.form__fieldset {
    border-radius: 20px;
}

.form__fieldsContainer {
    display: grid;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.form__buttonsContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
}