.field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10px;
}

@media (max-width: 480px) {
    .field {
        grid-template-columns: 1fr;
    }
}

.fieldInnerText {
    text-align: right;
}

@media (max-width: 480px) {
    .fieldInnerText {
        text-align: center;
    }
}

.field__textSub {
    vertical-align: sub;
    font-size: 0.7em;
    margin-right: 0.15em;
}

.field__input {
    min-width: 200px;
    border: solid 1px #1e3246;
    border-radius: 5px;
    padding: 5px;
}

@media (max-width: 480px) {
    .field__input {
        width: 100%;
    }
}

.field__input:invalid {
    background-color: beige;
}

.field__input:disabled {
    background-color: #ddd;
}

.field__select {
    padding: 4px;
    border-radius: 5px;
}